---
import Social from './Social.astro';
import dayjs from 'dayjs';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>
<div>
  <div>
    <strong>{'Pokedex Blog'}</strong> ©{dayjs().format('YYYY')}
  </div>
  <div>
  <small>
    Created by&nbsp;
    <a href="https://github.com/tomz12321" target="_blank" rel="noreferrer">
      Tom & Avery
    </a>{' '}
    - Version 0.9.0
  </small>
</div>
</div>